<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/stats/css/style.css') }}" />
        <script src="{{ asset('bundles/stats/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/stats/js/table2CSV.js') }}"></script>


        <script>
            $(document).ready(function () {
                $('table').each(function () {
                    var $table = $(this);

                    var $button = $("<button style='width: 100%' class='button button--blue-sheen form__input--show-validation' type='button'>");
                    $button.html("<span class=\"button__label\">Export to spreadsheet</span>");
                    $button.insertBefore($table);

                    $button.click(function () {
                        var csv = $table.table2CSV({
                            delivery: 'value'
                        });
                        window.location.href = 'data:text/csv;charset=UTF-8,'
                            + encodeURIComponent(csv);
                    });
                });
            })
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-100615032-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
