{% extends 'base.html.twig' %}

{% block body %}
    {#<link rel="stylesheet" type="text/css" href="http://jsoneditoronline.org/app.min.css">#}
    {#<script type="text/javascript" src="http://jsoneditoronline.org/app.min.js" charset="utf-8"></script>#}
    <form action="/" method="post">
        <div class="form__item">
            <label class="form__label">Article Url</label>
            <input type="url" class="form__input" required="required" id="articleUrl" name="articleUrl"
                   data-store="true">
        </div>
        <div class="form__item">
            <button type="submit" data-role="form-submit" class="button button--blue-sheen">
                <span class="button__label">Submit</span>
            </button>
        </div>
    </form>
    <script>
        function process() {
            if(document.getElementById("limit").value != 0) {
                var url = "/stats/" + document.getElementById("hash").value + "/" +  document.getElementById("limit").value;

            } else {
                var url = "/stats/" + document.getElementById("hash").value;
            }
            location.href = url;
            return false;
        }
    </script>
    <form >
        <div class="form__item">
            <label class="form__label">Short List ID</label>
            <input type="text" class="form__input" required="required" id="hash" name="hash" data-store="true">
        </div>
        <div class="form__item">
            <label class="form__label">Limit</label>
            <input type="number" class="form__input" required="required" value="1" id="limit" name="limit" data-store="true">
        </div>
        <div class="form__item">
            <button onclick="process();" value="0" type="button" data-role="form-submit" class="button button--blue-sheen">
                <span class="button__label">Submit</span>
            </button>
        </div>

    </form>
    {#<form action="/stats" method="post">#}
        {#<div class="form__item">#}
            {#<label class="form__label">Raw Stats Data</label>#}
            {#<textarea style="height: 300px" class="form__input" required="required" id="rawStatData" name="rawStatData"#}
                      {#data-store="true"></textarea>#}
        {#</div>#}
        {#<div class="form__item">#}
            {#<button type="submit" data-role="form-submit" class="button button--blue-sheen">#}
                {#<span class="button__label">Submit</span>#}
            {#</button>#}
        {#</div>#}
    {#</form>#}

{% endblock %}
