<div >
    <div style="width: 50%; float: left">
        <h2> Hash: {{ stats.getId }}</h2>
        <h2> Count: {{ stats.getCount }}</h2>
        <h2> Default Formation: {{ stats.getDefaultFormation }}</h2>
    </div>
    <div style="width: 50%; float: left">
        <script>
            function process()
            {
                console.log("{{ baseUrl }}");
                var url= "{{ baseUrl }}/" + document.getElementById("id").value;
                location.href=url;
                return false;
            }
        </script>
        <form>
            <div class="form__item">
                <label class="form__label">Limit</label>
                <input type="text" value="{{ limit }}" class="form__input" required="required" id="id" name="id" data-store="true">
            </div>
            <div class="form__item">
                <button onsubmit="return process()" onclick="return process();" data-role="form-submit" class="button button--blue-sheen">
                    <span class="button__label">Submit</span>
                </button>
            </div>

        </form>

    </div>
</div>
