{% extends 'base.html.twig' %}

{% block body %}
    {% for statId in statIds %}
        <button style="width: 100%" class="button button--blue-sheen form__input--show-validation" onclick="myFunction{{ statId }}()">
            <span class="button__label">Show/Hide {{ statId }}</span>

        </button>

        <div style="display: none" id="{{ statId }}">
            <iframe style="border: none" height="1000px" width="100%"
                    src=" {{ url('statpage', {'statId':  statId  }) }}"></iframe>
        </div>
        <script>
            function myFunction{{ statId }}() {
                var x = document.getElementById("{{ statId }}");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    {% endfor %}
{% endblock %}