{% extends 'base.html.twig' %}

{% block body %}
    <style>
        td {
            font-size: medium;
        }
        img{
            transition: 0s height ;
        }

        img:hover{

            height:150px;
            transition-delay:0.25s ;
            transition-duration: 0.75s;
        }

    </style>

    {% include "default/info.html.twig" %}

    <div class="table">
        <button style="width: 100%" class="button button--blue-sheen form__input--show-validation" onclick="$('.table').toggle();"><span class="button__label">Position Table</span></button>
        <table class="standing-table__table position_table">
            <caption class="standing-table__caption">Short List: {{ stats.getId }}</caption>
            <thead>
                <tr class="standing-table__row">
                    <th class="standing-table__cell standing-table__header-cell">Position</th>
                    <th class="standing-table__cell standing-table__header-cell">Id</th>
                    <th class="standing-table__cell standing-table__header-cell">Name</th>
                    <th class="standing-table__cell standing-table__header-cell">Image</th>
                    <th class="standing-table__cell standing-table__header-cell">Score</th>
                    <th class="standing-table__cell standing-table__header-cell">%</th>

                </tr>
            </thead>
            <tbody>
            {%  for position in stats.getPositions %}
                <tr class="standing-table__row standing-table__row--divider">
                <td class="standing-table__cell" rowspan="
                    {% if( limit ) %}
                        {% if( limit > position.getParticipantCount  ) %}
                            {{ position.getParticipantCount }}
                        {% else %}
                            {{ limit }}
                        {% endif %}
                    {% else %}
                        {{ position.getParticipantCount }}
                       {% endif %}">{{  position.getId }}</td>
                {%  for participant in position.getParticipants %}
                    {% if(limit is null or loop.index <= limit) %}
                        <td class="standing-table__cell">{{ participant.getId }}</td>
                        <td class="standing-table__cell">{{ participant.getName }}</td>
                        <td class="standing-table__cell"><img src="{{ participant.getImage }}" height="60"></td>
                        <td class="standing-table__cell">{{ participant.getScore }}</td>
                        <td class="standing-table__cell">{{ ((participant.getScore / stats.getCount ) * 100) | round('2')}}%</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
    <div class="table" style="display: none">
        <button style="width: 100%;" class="button button--blue-sheen form__input--show-validation" onclick="$('.table').toggle();"><span class="button__label">Position Groups Table</span></button>
        <table class="standing-table__table">
            <caption class="standing-table__caption">Short List: {{ stats.getId }}</caption>


            <thead>
            <tr class="standing-table__row">
                <th class="standing-table__cell standing-table__header-cell">Position</th>
                <th class="standing-table__cell standing-table__header-cell">Id</th>
                <th class="standing-table__cell standing-table__header-cell">Name</th>
                <th class="standing-table__cell standing-table__header-cell">Image</th>
                <th class="standing-table__cell standing-table__header-cell">Score</th>
                <th class="standing-table__cell standing-table__header-cell">%</th>

            </tr>
            </thead>

            <tbody>

            {%  for position in groupStats.getPositionGroups %}
                <tr class="standing-table__row standing-table__row--divider">
                <td class="standing-table__cell" rowspan="{% if( limit ) %}
                        {% if( limit > position.getParticipantCount  ) %}
                            {{ position.getParticipantCount }}
                        {% else %}
                            {{ limit }}
                        {% endif %}
                    {% else %}
                        {{ position.getParticipantCount }}
                       {% endif %}">{{  position.getPositionDisplayName }}</td>
                {%  for participant in position.getParticipants %}
                    {% if(limit is null or loop.index <= limit) %}
                        <td class="standing-table__cell">{{ participant.getId }}</td>
                        <td class="standing-table__cell">{{ participant.getId }}</td>
                        <td class="standing-table__cell">{{ participant.getName }}</td>
                        <td class="standing-table__cell"><img src="{{ participant.getImage }}" height="60"></td>
                        <td class="standing-table__cell">{{ participant.getScore }}</td>
                        <td class="standing-table__cell">{{ ((participant.getScore / stats.getCount ) * 100) | round('2')}}%</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
